<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Ticket By Admin</h1>
    <form action="" method="post">
      <div>
        <label for="">airline Name</label>
        <input type="text" name="airlineName" id="airlineName" />
      </div>
      <br />
      <div>
        <label for="">Destination</label>
        <input type="text" name="destination" id="destination" />
      </div>
      <br />
      <div>
        <label for="">Origin</label>
        <input type="text" name="origin" id="origin" />
      </div>
      <br />
      <div>
        <label for="">Availabel Seat</label>
        <input type="number" name="availabeSeat" id="availabeSeat" />
      </div>
      <br />
      <div>
        <label for="">Price</label>
        <input type="number" name="price" id="price" />
      </div>
      <br />
      <div>
        <label for="">Type Flight</label>
        <select name="type" id="">
          <option value="VIP">VIP</option>
          <option value="Business">Business</option>
          <option value="Economy">Economy</option>
        </select>
      </div>
      <br />
      <div>
        <label for="">Date Plane will arrive</label>
        <input type="date" name="dateFlight" id="dateFlight" />
      </div>
      <br />
      <div>
        <label for="">Time Plane On Stay stand by</label>
        <input type="time" name="arrived" id="arrived" />
      </div>
      <br />
      <div>
        <label for="">Image Url</label>
        <input type="text" name="imageURL" id="imageURL" />
      </div><br>
      <div>
        <input type="submit" value="Add new Flight" />
      </div><br>
    </form>
  </body>
</html>
